<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./style.css" />
    <title>Amazon Clone</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand"><a href="index.html">Amazon</a></div>
        <div class="header-links">
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>

      <main>
        <ul>
          <li>product 1</li>
          <li>product 2</li>
          <li>product 3</li>
          <li>product 4</li>
        </ul>
      </main>

      <footer class="footer">All right severed</footer>
    </div>
  </body>
</html>
